/* --------------- Main --------------- */
h1 {
	margin: 0 auto;
	padding: 2% 0;
	color: #fff;
}

form {
	border: 2px solid #3fb1e3;
	width: 600px;
	margin: 0 auto;
	background-color: #2f2f2f;
	border-radius: 10px;
	padding: 1% 0;
}

body {
	background-color: #2f2f2f;
	text-align: center;
	color: #fff;
}